torch
torchvision 
torchaudio
invisible_watermark
datasets
hf-doc-builder
huggingface-hub
Jinja2
librosa
numpy
scipy
tensorboard
omegaconf
pytorch-lightning
xformers


fastapi
pydantic
uvicorn
typing
requests
bs4
transformers
transformers[sentencepiece]
diffusers
diffusers[torch]
diffusers[flax]
accelerate
safetensors
